VITE_FIREBASE_API_KEY=AIzaSyBSvOzJhRhIml0d9i67hmf83RvEpZoElek
VITE_FIREBASE_AUTH_DOMAIN=filafacil-19c35.firebaseapp.com   
VITE_FIREBASE_PROJECT_ID=filafacil-19c35
VITE_FIREBASE_STORAGE_BUCKET=filafacil-19c35.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=305302968877
VITE_FIREBASE_APP_ID=1:3053n02968877:web:96bae3b5d4beb05b35f6a4
